# MariaDB
DB_USER_JUPYTERHUB=jupyterhub
DB_PASSWORD_JUPYTERHUB=changethis
DB_USER_MOODLE=moodle
DB_PASSWORD_MOODLE=changethis
DB_DATABASE_JUPYTERHUB=jupyterhub
DB_DATABASE_MOODLE=moodle
DB_SERVER=localhost
DB_PORT=3306
DB_ROOT_PASSWORD=changethis

# LDAP
LDAP_ADMIN_USERNAME=admin
LDAP_ADMIN_PASSWORD=changethis

# Moodle
MOODLE_USERNAME=admin
MOODLE_EMAIL=admin@example.com
MOODLE_PASSWORD=changethis

# Jupyterhub
EMAIL_DOMAIN=example.com
CONFIGPROXY_AUTH_TOKEN=changethis
LMS_PLATFORM_ID=https://localhost/moodle
LMS_CLIENT_ID=D9La9fUAomfEKxS
DATA_ROOT=/jupyterdata
LMS_URL=http://moodle:8080
LMS_SUBDIR=moodle