*.bak
*.pyc
.ipynb_checkpoints
.log
.lc_wrapper_regex.txt
*.retry
ansible.cfg
hosts
inventory.yml
notebooks.svg
work*
deploy_vm_for_vcnode.ipynb
mcj-data
.env
*.pem
*Zone.Identifier
jupyterhub/conf.d
docmerged